<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
  <div class="container">
    <a class="navbar-brand text-truncate">
      <img
        src="/assets/images/gamer-cat-brand.png"
        class="brand-image d-inline-block"
      />
      {{ title }}
    </a>

    <form class="d-flex">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search catalog"
        aria-label="Search"
      />
      <button class="btn btn-secondary" type="submit">Find</button>
    </form>
  </div>
</nav>

<div class="container page-container">
  <div class="row">
    <div class="col-lg-4 col-xl-3">
      <div class="card bg-secondary mb-3">
        <h4 class="card-header">Categories</h4>
        <div class="card-body">
          <div
            class="form-check"
            *ngFor="let category of categories; let i = index"
          >
            <input
              class="form-check-input"
              type="checkbox"
              id="category-{{ i + 1 }}"
            />
            <label class="form-check-label" for="category-{{ i + 1 }}">
              {{ category }}
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-xl-9">
      <div class="card bg-secondary mb-3">
        <h4 class="card-header">Games</h4>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6" *ngFor="let game of games">
              <div class="card bg-secondary mt-2 mb-3 p-3 border bg-light">
                <div class="card-body">
                  <div class="row">
                    <div class="col-4">
                      <img
                        class="cover"
                        errorImage="{{ coverUrl }}/nocover.png"
                        lazyLoad="{{ coverUrl }}/{{ game.cover }}.png"
                      />
                    </div>
                    <div class="col-8 position-relative">
                      <h6 class="card-title">{{ game.name }}</h6>
                      <span
                        class="badge bg-primary"
                        *ngFor="let genre of game.genres"
                        >{{ genre }}</span
                      >
                      <div class="links position-absolute">
                        <a
                          *ngFor="let website of game.websites"
                          href="{{ website.url }}"
                          target="_blank"
                          ><img
                            src="/assets/images/{{
                              website.category === 13 ? 'steam' : 'epic'
                            }}-logo.png"
                        /></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
